.comment {
  display: flex;
  margin-top: 30px;
}

.comment_reply {
  margin-left: 50px;
}

.comment_reply + .comment_reply {
  margin-left: calc(50px + 50px);
}

.profile_picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author_text {
  display: flex;
  flex-direction: column;
  width: 493px;
  min-height: 85px;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  word-wrap: break-word;
}

.comment_wrapper {
  margin-left: 10px;
}

.timestamp_reply {
  margin-top: 10px;
  display: flex;
}

.timestamp {
  color: #82878d;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 7px;
}

.text {
  color: #82878d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reply_button {
  color: #023168;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}

.link {
  color: #023168;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
