body {
  background: #125cb1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

p {
  color: #1e1e1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app {
  background-color: #eceef1;
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formatted_date {
  margin-top: 36px;
  margin-bottom: 36px;
}

.comment_list_wrapper {
  margin-bottom: 18px;
  align-items: flex-start;
  width: 75vw;
  height: 408px;
  overflow: auto;
}
