body {
  background: #125cb1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
